
css: 

h2 Conversion Pixel
| example:  
br
| &lt;img src=&quot;http://yoursimpleanalyticsappdomain.com/conversions/create?app_id=app_name&amp;event_desc=registertation&amp;user_id=USER_ID&quot; /&gt;

